.latest-transaction {
  .MuiTableCell-paddingCheckbox {
    display: none;
  }

  thead {
    tr {
      th {
        background-color: #e9e4e4 !important;

        .tss-1akey0g-MUIDataTableHeadCell-data {
          font-weight: bold !important;
          font-size: 15px !important;
        }
      }
    }
  }
}
