.latest-transaction {
  .MuiTableCell-paddingCheckbox {
    display: none;
  }

  thead {
    tr {
      th {
        background-color: #e9e4e4 !important;

        .tss-1akey0g-MUIDataTableHeadCell-data {
          font-weight: bold !important;
          font-size: 15px !important;
        }
      }
    }
  }

  tbody {
    .status {
      padding: 5px;
      border-radius: 5px;
      font-size: 13px;

      &.Approved {
        color: white;
        background-color: rgba(0, 185, 0, 0.751);
      }

      &.Pending {
        color: white;
        background-color: rgba(189, 3, 3, 0.67);
      }
    }
  }
}
